<% content_for :title, "#{@user.first_name} - Odds"   %>

<div class="message <%= bet_outcome %>">
  <div class="message-body team">
    <div class="team home-team">
    <% if odd.match.home_logo? %>
      <% image_path = odd.match.home_logo %>
    <% else %>
      <%= "logo.png" %>
    <% end %>
      <%= image_tag image_path, class:"team-avatar" %>
      <span><%= odd.match.home_team %></span>
    </div>
    <% if odd.match.away_logo? %>
      <% image_path = odd.match.away_logo %>
    <% else %>
      <%= image_path = "logo.png" %>
    <% end %>
    <div class="team away-team">
      <%= image_tag image_path, class:"team-avatar" %>
      <span><%= odd.match.away_team %></span>
    </div>
  </div>

  <div class="message-body">
      <span class="price"><%= odd.odds %></span>
      <p>on <%= odd.outcome %></p>
  </div>

  <div class="message-body number_users">
      <i class="price fa fa-users" aria-hidden="true"></i>
      <span class="price text-center"><%= odd.number_of_current_bookings %>
    <div class="hover-box">
        <h6 class="text-center">Max Users</h6>
        <p><span class="title"></span><span class="won"><%= odd.number_of_current_bookings %></span></p>
    </div>
  </div>

  <div class="message-status">
    <div class="message-date text-center status pending">
      <% date = odd.match.match_date %>
      <p class="date"><%= date.strftime('%b %e') %></p>
      <p class="date"><%= date.strftime('%l:%M %p') %></p>
    </div>
  </div>
</div>
