<%= link_to match_path(match) do  %>
  <div class="card">
    <div class="card-teams">
      <div class="left-team">
        <% if match.home_logo %>
          <% photo =  match.home_logo %>
        <% else %>
          <% photo =  "logo.png" %>
        <% end %>
        <%= image_tag photo, class:"team-logo" %>
        <h5><%= match.home_team %></h5>
        <p><%= match.goals_home_team %></p>
      </div>
        <span>VS</span>
      <div class="right-team">
      <% if match.away_logo %>
          <% photo = match.away_logo %>
        <% else %>
          <% photo =  "logo.png" %>
        <% end %>
        <%= image_tag photo, class:"team-logo" %>
        <h5><%= match.away_team %></h5>
        <p><%= match.goals_away_team %></p>
      </div>
    </div>

    <div class="card-date">
      <span><%= match.match_date %></span>
    </div>

    <div class="card-stadium">
      <i class="fa fa-futbol-o fa-2x" aria-hidden="true"></i>
      <span>Camp Nou</span>
    </div>
  <p class="status"><%= match.status %></p>
  </div>
<% end %>


