<div class="message <%= bet_outcome %>">
  <div class="message-body cards-team">
        <div class="team home-team">
          <%= image_tag booking.odd.match.home_logo ? booking.odd.match.home_logo : "logo.png", class:"team-avatar" %>
          <span><%= booking.odd.match.home_team %></span>
        </div>
        <div class="team away-team">
          <%= image_tag booking.odd.match.away_logo ? booking.odd.match.away_logo : "logo.png", class:"team-avatar" %>
          <span><%= booking.odd.match.away_team %></span>
        </div>
  </div>

  <div class="message-body score">
    <% if booking.odd.match.status == "FINISHED" %>
    <div class="team home-team">
      <h4><%= booking.odd.match.goals_home_team %></h4>
    </div>
    <div class="team away-team">
      <h4><%= booking.odd.match.goals_away_team %></h4>
    </div>
    <% end %>
  </div>

  <div class="message-body" id="stake">
    <% if booking.odd.match.status == "FINISHED" %>
      <%= render 'users/finished_body', booking: booking %>
    <% else %>
      <%= render 'users/pending_body', booking: booking %>
    <% end %>
  </div>

  <div class="message-status">
    <div class="message-date text-center">
      <% date = booking.odd.match.match_date %>
      <p class="date"><%= date.strftime('%b %e') %></p>
      <p class="date"><%= date.strftime('%l:%M %p') %></p>
    </div>
  </div>

  <div class="avatar-container">
    <% creator = booking.odd.user %>
    <%= image_tag creator.facebook_picture_url ? creator.facebook_picture_url : "https://api.adorable.io/avatars/285/#{creator.email}.png", class: "creator-avatar" %>
    <div class="hover-box">
        <h6 class="text-center"><%= creator.user_name %></h6>
        <p><span class="title">won:  </span><span class="won"><%= creator.calculate_created_odds_won %></span></p>
        <p><span class="title">lost:  </span><span class="lost"><%= creator.calculate_created_odds_lost %></span></p>
    </div>
  </div>
</div>

