<div class="tabs">
  <div class="tabs-img">
    <a class="fixture_tab active" data-target="#premiership">
    <%= image_tag "premier.png" %>
    </a>
    <a class="fixture_tab" data-target="#bundesliga">
    <%= image_tag "bundes.png" %>
    </a>
    <a class="fixture_tab" data-target="#laliga">
    <%= image_tag "laliga.png" %>
    </a>
    <a class="fixture_tab" data-target="#serieA">
      <%= image_tag "seriea.png" %>
    </a>
    <a class="fixture_tab" data-target="#ligue1">
      <%= image_tag "ligue1.png" %>
    </a>
  </div>
</div>
