<div class="tabs">
  <div class="tabs-img">
    <a class="fixture_tab active" data-target="#premiership" data-week="3">
    <%= image_tag "premier.png" %>
    </a>
    <a class="fixture_tab" data-target="#bundesliga" data-week="2">
    <%= image_tag "bundes.png" %>
    </a>
    <a class="fixture_tab" data-target="#laliga" data-week="2">
    <%= image_tag "laliga.png" %>
    </a>
    <a class="fixture_tab" data-target="#serieA" data-week="2">
      <%= image_tag "seriea.png" %>
    </a>
    <a class="fixture_tab" data-target="#ligue1" data-week="4">
      <%= image_tag "ligue1.png" %>
    </a>
  </div>
</div>
