<% content_for :title, "Match Market"   %>


<div class="banner">
  <div class="banner-content">
    <h1>Be the Bookie</h1>
    <p>make your own luck</p>

</div>
<div class="test1">
  <!-- <div class="search_form"> -->
  <%= form_tag(matches_path, method: 'get', class:"new_form form-inline") do %>
      <%= text_field_tag(:search, params[:search]) %>
      <%= submit_tag("Search", name: nil, class:"btn btn-primary searchbtn") %>
  <% end %>
</div>
  <!-- </div> -->
</div>

<%= render 'shared/tabs' %>
<div class="index-card-container">

      <div class="fixtures active" id="premiership" data-target=".premiership">
        <% for game_week in (1..38).to_a %>
          <div id=<%= "game_week#{game_week}" %> class="gameweek_fixtures premiership">
            <% league = @premiership_matches.first.league %>
            <%= render 'shared/week_toggle', game_week: game_week, league: league %>
            <div class="row">
            <% @premiership_matches.select{|filter_match| filter_match.gameweek == game_week}.each do |match| %>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= render 'shared/card', match: match %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>


      <div class="fixtures" id="bundesliga" data-target=".bundesliga">
        <% for game_week in (1..34).to_a %>
          <div id=<%= "game_week#{game_week}" %> class="gameweek_fixtures bundesliga">
        <% league = @bundesliga_matches.first.league %>
        <%= render 'shared/week_toggle', league: league, game_week: game_week %>
            <div class="row">
            <% @bundesliga_matches.select{|filter_match| filter_match.gameweek == game_week}.each do |match| %>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= render 'shared/card', match: match %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>


      <div class="fixtures" id="laliga" data-target=".laliga">
        <% for game_week in (1..38).to_a %>
          <div id=<%= "game_week#{game_week}" %> class="gameweek_fixtures laliga">
        <% league = @laliga_matches.first.league %>
        <%= render 'shared/week_toggle', league: league, game_week: game_week %>
            <div class="row">
            <% @laliga_matches.select{|filter_match| filter_match.gameweek == game_week}.each do |match| %>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= render 'shared/card', match: match %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="fixtures" id="ligue1" data-target=".ligue1">
        <% for game_week in (1..38).to_a %>
          <div id=<%= "game_week#{game_week}" %> class="gameweek_fixtures ligue1">
        <% league = @ligue1_matches.first.league %>
        <%= render 'shared/week_toggle', league: league, game_week: game_week %>
            <div class="row">
            <% @ligue1_matches.select{|filter_match| filter_match.gameweek == game_week}.each do |match| %>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= render 'shared/card', match: match %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="fixtures" id="serieA" data-target=".serieA">
        <% for game_week in (1..38).to_a %>
          <div id=<%= "game_week#{game_week}" %> class="gameweek_fixtures serieA">
        <% league = @serieA_matches.first.league %>
        <%= render 'shared/week_toggle', league: league, game_week: game_week %>
            <div class="row">
            <% @serieA_matches.select{|filter_match| filter_match.gameweek == game_week}.each do |match| %>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= render 'shared/card', match: match %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

</div>

