<div class="container">
    <%= render "shared/match_show_head" %>
    <%= render "shared/match_tab" %>

  <div class="container">
      <div class="odds active" id="all">
          <div class="row">
            <% @all_odds.each do |odd| %>
              <div class="col-xs-6 col-sm-4">
                <%= render "odds/odds_cards", odd: odd, normal_id: false %>
              </div>
            <% end %>
          </div>
      </div>
      <div class="odds active" id="home">
          <div class="row">
            <% @home_odds.each do |odd| %>
              <div class="col-xs-6 col-sm-4">
                <%= render "odds/odds_cards", odd: odd, normal_id: true %>
              </div>
            <% end %>
          </div>
      </div>
      <div class="odds" id="away">
          <div class="row">
            <% @away_odds.each do |odd| %>
              <div class="col-xs-6 col-sm-4">
                <%= render "odds/odds_cards", odd: odd, normal_id: true %>
              </div>
            <% end %>
          </div>
      </div>
      <div class="odds" id="draw">
          <div class="row">
            <% @draw_odds.each do |odd| %>
              <div class="col-xs-6 col-sm-4">
                <%= render "odds/odds_cards", odd: odd, normal_id: true %>
              </div>
            <% end %>
          </div>
      </div>

      <div class="flex-center" style="width: 100%">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#makeOdd">Make Odd</button>
      </div>
      <%= render 'shared/modal' %>
</div>
