<div class="container">
    <%= render "shared/match_show_head" %>
    <%= render "shared/match_tab" %>

  <div class="container">
      <div class="odds active" id="all">
          <div class="row">
            <% @all_odds.each do |odd| %>
              <div class="col-xs-6 col-sm-4">
                <%= render "odds/odds_cards", odds: odd %>
              </div>
            <% end %>
          </div>
      </div>
      <div class="odds active" id="home">
          <div class="row">
            <% @home_odds.each do |odd| %>
              <div class="col-xs-6 col-sm-4">
                <%= render "odds/odds_cards", odds: odd %>
              </div>
            <% end %>
          </div>
      </div>
      <div class="odds" id="away">
          <div class="row">
            <% @away_odds.each do |odd| %>
              <div class="col-xs-6 col-sm-4">
                <%= render "odds/odds_cards", odds: odd %>
              </div>
            <% end %>
          </div>
      </div>
      <div class="odds" id="draw">
          <div class="row">
            <% @draw_odds.each do |odd| %>
              <div class="col-xs-6 col-sm-4">
                <%= render "odds/odds_cards", odds: odd %>
              </div>
            <% end %>
          </div>
      </div>
</div>
