<div class="odds-container">
  <div class="oddscard">
      <div class="card-description">
        <h2><%= odd.odds %></h2>
        <p><%= odd.outcome %></p>
    </div>

    <% card_avatar_url =  odd.user.facebook_picture_url ? odd.user.facebook_picture_url : "https://api.adorable.io/avatars/285/#{odd.user.email}.png" %>

    <div style="background-image: url(<%= image_path card_avatar_url %>);" class="card-avatar">

    </div>
    <a class="card-link" href="#" ></a>
  <button type="button" class="btn btn-primary btn-lg betmaker" data-toggle="modal" data-target="#makeBet<%= normal_id ? odd.id : "#{odd.id}id" %>">Make Bet</button>
  </div>
  <%= render 'shared/odd_modal', odd_selected: odd, normal_id: normal_id %>
</div>







